* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #34495e;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0rem;
    z-index: 1;
}

.logo {
    color: #f3f3f3;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.logo span {
    color: #c0392b;
    font-weight: bolder;
}

.navlinks {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.Links::after {
    content: '';
    display: block;
    width: 0;
    height: 0.2rem;
    background: #f1c40f;
    transition: width 0.3s;
}

.Links:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.logo h1 a {
    color: #f3f3f3;
    text-decoration: none;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.navlinks a {
    color: #f3f3f3;
    text-decoration: none;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.navlinks :hover {
    color: #f1c40f;
}

.navlinks li {
    list-style: none;
}

.checkbtn {
    font-size: 1rem;
    color: white;
    float: right;
    line-height: 8rem;
    margin-right: 4rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* Main header*/

.Main_header {
    font-weight: lighter;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/unpllash2.jpg);
    background-attachment: fixed;
    height: 100vh;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ecf0f1;
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.col span {
    background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9) 10%, transparent 10%, transparent 100%);
    background-color: #f1c40f;
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 5s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 200% 100%;
    }
    100% {
        background-position: -120% 0;
    }
}

.col h1 {
    line-height: 6rem;
}

.col2 a {
    color: #ecf0f1;
    text-decoration: none;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
    font-weight: lighter;
    text-transform: uppercase;
    border: 2px solid #f1c40f;
    padding: 0.8rem 0.8rem;
    line-height: 8rem;
    transition: background-color 0.2s linear;
}

.Main_header .col2 :hover {
    background-color: #f1c40f;
}

hr.one {
    width: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.About {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    align-items: center;
    padding: 30px 20px;
    text-align: justify;
}

.About h1 {
    line-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1rem;
    font-size: 5rem;
}

.About .col1 {
    padding: 25px;
    align-items: center;
    color: #ecf0f1;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    font-size: 2rem;
    font-weight: lighter;
    max-height: 900px;
    max-width: 900px;
}

.About .col1 h1 {
    color: #f1c40f;
}

.About .col1 p {
    line-height: 30px;
    padding-left: 50px;
}

.About .col2 img {
    height: 100%;
    width: 400px;
    float: right;
    padding-right: 15px;
    flex: 1;
}


/*Education*/

.education {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(Images/education.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    max-width: 100vw;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.education .box {
    background: rgba(0, 0, 0, 0.9);
    color: #ecf0f1;
    box-sizing: border-box;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.7);
    width: 400px;
    max-height: 430px;
    padding: 40px;
    letter-spacing: 0.2rem;
    margin: 100px 30px;
    transition: 0.3s linear;
}

.education :hover {
    transform: scale(1.1);
}

.box p {
    padding: 10px 0px;
    font-size: 1.2rem;
}

#g {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding-top: 15px;
}


/*Skills*/

.skills {
    height: auto;
    max-width: 100vw;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(Images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #ecf0f1;
    padding-bottom: 100px;
}

.bar_container {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skillbox {
    box-sizing: border-box;
    width: 30%;
    margin-right: 100px;
}

.skills p {
    display: flex;
    align-items: center;
}

#level {
    padding-left: 90%;
}

#tag {
    position: relative;
    top: 20px;
    padding-left: 10px;
}

#skill {
    color: #f1c40f;
    font-size: 5rem;
    text-shadow: 5px 6px 5px #2f3640;
    line-height: 20rem;
    text-align: center;
}

.skillbox p {
    text-transform: uppercase;
}

.skill {
    background: #000;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 4px;
    border: 2px solid #f1c40f;
    box-shadow: 0px 0px 10px #f1c40f;
}

.skillbar {
    display: flex;
    flex-direction: column;
}

.skill_level {
    background: #773be7;
    border-radius: 50px;
    height: 5px;
}


/*Fotter section*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    letter-spacing: 0.8rem;
    font-size: 1rem;
    background-color: #34495e;
    font-family: 'Poppins', sans-serif;
    color: #ecf0f1;
    font-weight: lighter;
}

.social_links {
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.social_links a {
    text-decoration: none;
    margin: 30px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 5px 2px #2f3640;
}

.social_links i {
    transition: all 0.3s linear;
}

.fa-facebook {
    color: #3b5998;
}

.fa-facebook-messenger {
    color: #00a8ff;
}

.fa-instagram {
    color: #e84393
}

.fa-github {
    color: #4078c0;
}

.fa-envelope {
    color: #d74640;
}

footer a:hover .fab {
    transform: scale(1.8);
}

footer a:hover .fas {
    transform: scale(1.8);
}